@typography;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.site-header, .site-footer {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  & a {
    color: currentColor;
  }
}

.site-header {
  margin-bottom: 1em;
}

.site-title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3rem;
  color: white;

  & > a {
    text-decoration: none;
  }
}

.site-footer {
  margin-top: 1.5em;
}

.site-footer-inner > * {
  margin-top: 1em;
  margin-bottom: 1em;
}

.site-header-inner,
.site-footer-inner,
main {
  width: 100%;
}

@media screen and (min-width: 60rem) {
  .site-header-inner,
  .site-footer-inner,
  main {
    width: 60rem;
  }
}

main {
  flex: 1;
  margin: 0.5rem;
}

.publish-date {
  font-style: italic;
}
