<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- set variables with fallbacks -->
  {{ .Scratch.Set "title" .Site.Title }}
  {{ if and (.Title) (ne .Title .Site.Title) }}
    {{ .Scratch.Set "title" (delimit (slice .Title " | " (.Scratch.Get "title")) "") }}
  {{ end }}

  {{ .Scratch.Set "description" .Site.Params.description }}
  {{ if .Description }}
    {{ .Scratch.Set "description" .Description}}
  {{ end }}

  {{ .Scratch.Set "coverImage" .Site.Params.coverImage }}
  {{ if .Params.coverimage }}
    {{ .Scratch.Set "coverImage" .Params.coverimage }}
  {{ end }}

  {{ .Scratch.Set "coverImageAlt" .Site.Params.coverImageAlt }}
  {{ if .Params.coverimagealt }}
    {{ .Scratch.Set "coverImageAlt" .Params.coverimagealt }}
  {{ end }}

  <title>{{ .Scratch.Get "title" }}</title>

  <!-- Meta tag help is courtesy of https://autonome.github.io/silobuster/ -->
  {{ with (.Scratch.Get "description") }}<meta name="description" content="{{ . }}" />{{ end }}

  <!-- Schema.org markup (Google) -->
  <meta itemprop="name" content="{{ .Scratch.Get "title" }}">
  {{ with (.Scratch.Get "description") }}<meta itemprop="description" content="{{ . }}">{{ end }}
  {{ with (.Scratch.Get "coverImage") }}<meta itemprop="image" content="{{ . | absURL }}">{{ end }}

  <!-- Twitter Card markup-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ .Site.Params.twitter }}">
  <meta name="twitter:title" content="{{ .Scratch.Get "title" }}">
  {{ with (.Scratch.Get "description") }}<meta name="twitter:description" content="{{ . }}">{{ end }}
  <meta name="twitter:creator" content="{{ .Site.Params.twitter }}">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  {{ with (.Scratch.Get "coverImage") }}<meta name="twitter:image" content="{{ . | absURL }}">{{ end }}
  {{ with (.Scratch.Get "coverImageAlt") }}<meta name="twitter:image:alt" content="{{ . }}">{{ end }}

  <!-- Open Graph markup (Facebook, Pinterest) -->
  <meta property="og:title" content="{{ .Scratch.Get "title" }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with (.Scratch.Get "coverImage") }}<meta property="og:image" content="{{ . | absURL }}" />{{ end }}
  {{ with (.Scratch.Get "description") }}<meta property="og:description" content="{{ . }}" />{{ end }}
  <meta property="og:site_name" content="{{ .Site.Title }}" />

  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>
<body>
  <header class="site-header">
    <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
  </header>
  <main role="main">
