{{ partial "top.html" . }}

<h1>Posts</h1>
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") 5 }}
{{ range $paginator.Pages }}
<article>
  <header>
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <p>
      Published on <time datetime="{{ .Date }}">{{ dateFormat "2 Jan 2006" .Date }}</time>
    </p>
  </header>
  <p>{{ .Summary }}</p>
</article>
{{ end }}
<nav>
  {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}">Newer Posts</a>{{ end }}
  {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}">Older Posts</a>{{ end }}
</nav>

{{ partial "bottom.html" . }}
